<main>
  <section class="mast">
    <figure class="mast__bg" style="background-image:url(https://unsplash.it/1800/800?image=893)"></figure>
    <header class="mast__header">
      <h1 class="mast__title js-spanize mast__title_fontsize">CINGO</h1>
      <hr class="sep"/>
      <p class="mast__text js-spanize">A SHORT DESCRIPTION ABOUT THE STORE</p>
      <button class="mast__text js-spanize btn-homepage">SHOP NOW</button>
    </header>
  </section>
</main>
